.MainContainer{
	text-align: center;
    padding: 10px;
    padding-bottom: 40px;
	margin-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 60px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    transition: 0.2s; 
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 450px) {
    
    .MainContainer {
        display: grid;
        grid-gap: var(--padding);
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

