.Card {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 10px;
	padding-top: 0px;
	margin-top: 0px;
	color:black;
	position: absolute; 
}

.Card .upperRow {
	width: 100%;
	margin-inline-start: 10%;
}

.Card .upperRow .left {
	height: 60vh;
	width: 45%;
    float: left;
}
.Card .upperRow .right {
	height: 60vh;
	width: 55%;
	padding: 15px;
	float:right;
}

.Card .lowerRow {
	height: 30vh;
	list-style-position: inside;
	margin-inline-start: 10%;
	width: 100%;
	padding-top: 25px;
}
.Card>li{
	float: left;

}

.Card>ul{
	border-left:100px;
	padding-top:0px;
	width: 100%;	
	align-self: center;
}

.Photo {
	align-self: center;
	width: auto;
	height: auto;
	flex-grow: 0;
	flex-shrink: 0;
	transition: transform .2s;
	border: 1px solid #6e6d6d;
}

.Card>.Photo{
	align-self: center;
	width: 250px;
	max-width: 300px;
    height: 250px;
    flex-grow: 0;
	flex-shrink: 0;	
}

.button{
	background-color: #d1aded;
	display: flex;
	 flex-direction: column;
	 margin-top:30px;
	 padding: 4px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	text-align: center;
	color: black;
	border-radius: 10px;
	border: 1px solid black;
  }

.Heart{
	text-decoration: none;
}




 

  

