.post{
    background-color:#f1efef;
    margin-top: 20px;
}

.posts{
    list-style-type: none; 
    margin-inline-start: 3%; 
    text-decoration: none;
}

.posts :hover {
        background-color:#d1aded  ;
    }

.posts a{  
    color: black;
    text-decoration:none; 
}

.posts p{
    color: #777777;
   font-style: italic;
   font-size: .9rem;
   margin-inline-start: 20px;
   padding-bottom: 10px;
   margin-top: 8px;
}

.posts h2{
    margin-inline-start: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}
*
.total{
    width: 70%;
}

@media screen and (max-width: 1100px) {
    
	
	.total {
		width: 100%;
		}  
}



