.Card {
	background-color: #f1efef;
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 270px;;
	padding: 10px;
	padding-bottom: 10px; 
	margin-top: 10px;
	margin-inline-start: 5%;
	color:black;
	position: relative;
}

.Card .upperRow {
	width: 100%;
	margin-inline-start: 10%;
}
.Card .upperRow .leftColumn {
	height: 60vh;
	width: 35%;
	float: left;
}
.Card .upperRow .rightColumn {
	height: 60vh;
	width: 65%;
	padding: 15px;
	float: right;
}
.Photo {
	margin-left: -50%;
	width: 250px;
	height: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	transition: transform .2s;
	border: 1px solid #6e6d6d;
	
}

.Card>.Photo{
	width: 250px;
	max-width: 300px;
    height: 250px;
    flex-grow: 0;
	flex-shrink: 0;	
}
.quantity {
	padding-top: 20px;
	margin-right: 60px;
  }
  .quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
  }
   
  .button2 {
		padding: 4px 10px;
		background-color: rgb(238, 64, 64);
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
		margin-top: 23%;
		margin-inline-start: 45%;
	}
	
	

	