.Card {
	
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 250px;;
	background-color: #d4d4d4;
	
	margin-top: 10px;
	margin-inline-start: 5%;
	color:black;
	position: relative;
}

.Card .upperRow {
	width: 100%;
	
}
.Card .upperRow .leftColumn {
	height: 60vh;
	width: 35%;
	float: left;
}
.Card .upperRow .rightColumn {
	height: 60vh;
	width: 65%;
	
	float: right;
}
.Photo {
	
	width: 250px;
	height: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	transition: transform .2s;
	border: 1px solid #6e6d6d;
	padding:0;
}
.rightColumn .prvi{
	display: inline-block; 
	padding-Right:38%;

}
.rightColumn .drugi{
	width:100%;
	padding-Right:30%;

}

.quantity {
	padding-top: 20px;
	margin-right: 60px;
  }
  .quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
  }
   
  .button2 {
		padding: 4px 10px;
		background-color: rgb(238, 64, 64);
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
		margin-top:15%;
		margin-left:50%;
	}
	
	

	
@media screen and (max-width: 1100px) {
    
	
	.Card {
		
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 270px;;
		background-color: #d4d4d4;
	
		margin-top: 10px;
		
		color:black;
		position: relative;
	}
  
  
}
@media screen and (max-width: 700px) {
    
	.Photo {
		
		width:150px;
		height: 150px;
		flex-grow: 0;
		flex-shrink: 0;
		transition: transform .2s;
		border: 1px solid #6e6d6d;
		padding:0;
	}
  .Card{
	  font-size: 10px;
	  height:150px;
  }
  .button2{
	  margin-top: 5%;
  }
p{
	  display:none;
  }
  .rightColumn .prvi{
	display: inline-block; 
	padding-Right:0%;

}
.rightColumn .drugi{
	width:100%;
	padding-Right:0%;

}
}
@media screen and (max-width: 400px) {
	.Card{
		font-size: 7px;
		height:150px;
	}
	.Card .rightColumn .treci{
		width: 10%;
	}

	.button2{
		padding: 2px 5px;
		font-size: 8px;
		margin-top: 35%;
	}
	.vel{
		display: none;
		margin-inline-start: 23%;
	}

	.prvi{
		margin-inline-start: 5%;
	}
}