footer {
   
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-primary, #000);
    border-top: 1px solid  rgb(46, 44, 44);
    background-color: #454545;
    height:7em;
   
}    
footer .date{
    
	width: 20%;
    padding-top: 15px;
    margin-top: 10px;
	color:white;
    margin: 0 auto;
    font-size: 15px;
    padding: 0;
}



@media (max-width: 680px) {
    
    footer .date{
     
        padding-bottom: 0;
    }
    .mail{
        display:none;
    }
    footer{
        width:100%;
        margin-bottom: 0%;
    }

} 